*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xmlVZzihCSMgPqBk6MV
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/docs/secret.md
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
